/* CSS Document */

.clear
{
	clear: both;
}
.container-fluid
{
	width: 100%;
	
}
.container
{
	width: 80%;
	margin:auto;
}
.title
{
	width: 100%;
	background-color:antiquewhite;
	float: left;
	height: auto;
	padding: 20px;
}
.box
{
	width: 100px;
	height: 100px;
	background-color: black;
}
.intro
{
	color: grey;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	font-size: 20px;
}
/* Full-width input fields */
#class_name,#lecturer_name,#aca,#sem,#fal,#pro,#mod
{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
	font-size: 18px;
	font-weight: 200;
}
.labels1
{
	font-size: 18px;
	font-weight: bold;
}

#class_name:focus,#lecturer_name:focus
{
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Set a style for the submit button */
#submit {
  color: white;
  padding: 16px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
	background-color:#FC9600;
}

.registerbtn:hover {
  opacity: 1;
}
.num{
	font-size: 20px;
}
#review
{
	width: 100%;
	margin: 5px 0px;
	min-height: 100px;
	font-size: 20px;
}
.select-box
{
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #B97C00;
	padding: 20px;
}
.select-css
{
	border-radius: 5px;
	float: right;
	width: 50%;
	height: 30px;
	font-size: 20px;
	color: rgba(131,130,130,1.00);
}
.select-css:hover
{
	background-color: rgba(251,198,121,1.00);
	border: 3px solid  rgba(253,202,183,1.00);
	
}
.select-label
{
	font-size: 20px;
	color: rgba(69,69,69,1.00);
	text-shadow: 2px 2px 2px rgba(239,202,158,1.00);
}
#visual,#reset
{
	width: 40%;
	height: 30px;
	margin: 20px;
}	
#visual:hover
{
	background-color: rgba(255,152,0,1.00);
}

.clear
{
	clear: both;
}
.container-fluid
{
	width: 100%;
	
}
.container
{
	width: 80%;
	margin:auto;
}
.title
{
	width: 100%;
	background-color:antiquewhite;
	float: left;
	height: auto;
	padding: 20px;
}
.box
{
	width: 100px;
	height: 100px;
	background-color: black;
}
.intro
{
	color: grey;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-weight: bold;
	font-size: 20px;
}
/* Full-width input fields */
#class_name,#lecturer_name,#aca,#sem,#fal,#pro,#mod
{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
	font-size: 18px;
	font-weight: 200;
}
.labels1
{
	font-size: 18px;
	font-weight: bold;
}

#class_name:focus,#lecturer_name:focus
{
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Set a style for the submit button */
#submit {
  color: white;
  padding: 16px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
	background-color:#FC9600;
}

.registerbtn:hover {
  opacity: 1;
}
.num{
	font-size: 20px;
}
#review
{
	width: 100%;
	margin: 5px 0px;
	min-height: 100px;
	font-size: 20px;
}
.select-box
{
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #B97C00;
	padding: 20px;
}
.select-css
{
	border-radius: 5px;
	float: right;
	width: 50%;
	height: 30px;
	font-size: 20px;
	color: rgba(131,130,130,1.00);
}
.select-css:hover
{
	background-color: rgba(251,198,121,1.00);
	border: 3px solid  rgba(253,202,183,1.00);
	
}
.select-label
{
	font-size: 20px;
	color: rgba(69,69,69,1.00);
	text-shadow: 2px 2px 2px rgba(239,202,158,1.00);
}
#visual,#reset
{
	width: 40%;
	height: 30px;
	margin: 20px;
}	
#visual:hover
{
	background-color: rgba(255,152,0,1.00);
}
.q-graph
{
	float: left;
}
.tooltip
{
	font-size: 15px;
	width: 15%;
	border: 1px solid rgba(135,135,135,1.00);
	padding: 10px;
	border-radius: 5px;
	float: left;
	margin: 20px;
	box-shadow: 2px 2px 2px 2px rgba(135,135,135,1.00);
}
.tooltip:hover
{
	background-color: rgba(255,238,201,1.00);
	transform: scale(1.05);
}
.tooltip div 
{
	color:rgba(126,126,126,1.00);
}
.chart-container
{
	width: 75%;
	float: left;
}